*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navCV
{
    margin:1%;
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5em;
    justify-items:flex-start;
}



.Title
{
    margin:1%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.imagePerfil
{
    width: 150px;
    justify-self:flex-end;
}

.Content
{
    margin: 1%;
    padding: 1em;
}


